<!-- verify_otp.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTP Verification</title>
</head>

<body>
    <h1>OTP Verification</h1>
    {% for message in messages %}
    <div class="{% if message.tags %}alert alert-{{ message.tags }}{% endif %}">
        {{ message }}
    </div>
    {% endfor %}
    <p>A One Time Password (OTP) has been sent to your email address. Please check your inbox and enter the OTP below:
    </p>
    <form method="post">
        {% csrf_token %}
        <input type="text" name="otp" placeholder="Enter OTP" required>
        <button type="submit">Verify OTP</button>
    </form>
</body>

</html>